[submodule "azure-storage-av-automation"]
	path = azure-storage-av-automation
	url = https://github.com/Azure/azure-storage-av-automation.git
[submodule "Workbooks/Cost-Estimation-App-Services-Workbooks"]
	path = Workbooks/Cost-Estimation-App-Services-Workbooks
	url = https://github.com/sarahwendel/Cost-Estimation-App-Services-Workbooks.git
[submodule "Workbooks/Microsoft-Defender-for-Key-Vault-Cost-Estimaction-based-on-time-range"]
	path = Workbooks/Microsoft-Defender-for-Key-Vault-Cost-Estimaction-based-on-time-range
	url = https://github.com/sarahwendel/Microsoft-Defender-for-Key-Vault-Cost-Estimaction-based-on-time-range.git
